<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- axios CDN -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>
<body>
    <h1>========================GET 요청========================</h1>
    <div style="display:flex">
        <form action="/get/res1" method="get" style="margin-right:20px;">
            <h3>GET 전송 (required = true)</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>Get 전송</button>
        </form>
        <form action="/get/res2" method="get" style="margin-right:20px;">
            <h3>GET 전송 (required = false)</h3>
            <br/>
            <button>Get 전송</button>
        </form>
        <div style="margin-right:20px;">
            <h3>GET 전송 - ~/{param1}/{param2}</h3>
            <a href="/get/res3/홍길동/20">
                get/res3/홍길동/20
            </a>
            <br/>
            <a href="/get/res3/홍길동">
                get/res3/홍길동 (error, 경로 변수 값 필수 확인)
            </a>
        </div>
        <div style="margin-right:20px;">
            <h3>GET 전송 - ~/{name}, ~/{name}/{age}</h3>
            <a href="/get/res4/바나나">
                get/res4/바나나
            </a>
            <br/>
            <a href="/get/res4/바나나/1">
                get/res3/바나나/1
            </a>
        </div>
    </div>
    <hr/>
    <h1>========================POST 요청========================</h1>
    <form action="/post/res1" method="post" style="margin-right:20px;">
        <h3>POST 전송 (required = true)</h3>
        이름 : <input type="text" name="name"><br/>
        나이 : <input type ="text" name ="age">  <br/>
        <button>POST 전송</button>
    </form>

    <form action="/post/res2" method="post" style="margin-right:20px;">
        <h3>POST 전송 (required = false)</h3>
        이름 : <input type="text" name="name"><br/>
        나이 : <input type ="text" name ="age">  <br/>
        <button>POST 전송</button>
    </form>

    <form action="/post/res3" method="post" style="margin-right:20px;">
        <h3>POST 전송 (ResponseBody)</h3>
        이름 : <input type="text" name="name"><br/>
        나이 : <input type ="text" name ="age"> <br/>
        <button>POST 전송</button>
    </form>

    <h1>========================DTO 이용========================</h1>
    <div style="display:flex">
        <form action="/dto/res1" method="get" style="margin-right:20px;">
            <h3>GET 전송 -DTO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>Get 전송</button>
        </form>
        <form action="/dto/res2" method="post" style="margin-right:20px;">
            <h3>POST 전송 -DTO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>POST 전송(RequestBody X)</button>
        </form>
        <form action="/dto/res3" method="post" style="margin-right:20px;">
            <h3>POST 전송 -DTO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>POST 전송(RequestBody O)</button>
        </form>
    </div>
    <hr/>
    <h1>========================VO 이용========================</h1>
    <div style="display:flex">
        <form action="/vo/res1" method="get" style="margin-right:20px;">
            <h3>GET 전송 -VO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>Get 전송</button>
        </form>
        <form action="/vo/res2" method="post" style="margin-right:20px;">
            <h3>POST 전송 -VO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>POST 전송(RequestBody X)</button>
        </form>
        <form action="/vo/res3" method="post" style="margin-right:20px;">
            <h3>POST 전송 -VO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button>POST 전송(RequestBody O)</button>
        </form>
    </div>
    <hr/>
    <h1>========================DTO 이용 with axios========================</h1>
    <div style="display:flex">
        <form id="form_dto1" style="margin-right:20px;">
            <h3>GET -DTO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button type="button" onclick="dtoRes1();">Get (일반)</button>
            <button type="button" onclick="dtoRes2();">Get (DTO)</button>
        </form>
        <form id = "form_dto2" style="margin-right:20px;">
            <h3>POST 전송 -DTO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button type="button" onclick="dtoRes3();">Post (일반)</button>
            <button type="button" onclick="dtoRes4();">Post (DTO) - RequestBody X</button>
            <button type="button" onclick="dtoRes5();">Post (DTO) - RequestBody O</button>
        </form>
    </div>
    <h1>========================VO 이용 with axios========================</h1>
    <div style="display:flex">
        <form id="form_vo1" style="margin-right:20px;">
            <h3>GET -VO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button type="button" onclick="voRes1();">Get (일반)</button>
            <button type="button" onclick="voRes2();">Get (VO)</button>
        </form>
        <form id = "form_vo2" style="margin-right:20px;">
            <h3>POST 전송 - VO</h3>
            이름 : <input type="text" name="name"><br/>
            나이 : <input type ="text" name ="age">  <br/>
            <button type="button" onclick="voRes3();">Post (일반)</button>
            <button type="button" onclick="voRes4();">Post (VO) - RequestBody X</button>
            <button type="button" onclick="voRes5();">Post (VO) - RequestBody O</button>
        </form>
    </div>
<script>
    function dtoRes1() {
        const form = document.getElementById('form_dto1');
        axios
          .get(`/axios/res1?name=${form.name.value}&age=${form.age.value}`)
          .then((res) => {
            console.log(res);
          });
      }

      function dtoRes2() {
        const form = document.getElementById('form_dto1');
        axios
          .get(`/axios/res2?name=${form.name.value}&age=${form.age.value}`)
          .then((res) => {
            console.log(res);
          });
      }
     function dtoRes3() {
        const form = document.getElementById('form_dto2');
        axios
          .post(`/axios/res3`, { name: form.name.value, age: form.age.value })
          .then((res) => {
            console.log(res);
          });
      }
      function dtoRes4() {
        const form = document.getElementById('form_dto2');
        axios
          .post(`/axios/res4`, { name: form.name.value, age: form.age.value })
          .then((res) => {
            console.log(res);
          });
      }
      function dtoRes5() {
        const form = document.getElementById('form_dto2');
        axios
          .post(`/axios/res5`, { name: form.name.value, age: form.age.value })
          .then((res) => {
            console.log(res);
          });
      }

     function voRes1() {
        const form = document.getElementById('form_vo1');
        axios
          .get(`/axios/vo/res1?name=${form.name.value}&age=${form.age.value}`)
          .then((res) => {
            console.log(res);
          });
      }

      function voRes2() {
        const form = document.getElementById('form_vo1');
        axios
          .get(`/axios/vo/res2?name=${form.name.value}&age=${form.age.value}`)
          .then((res) => {
            console.log(res);
          });
      }

      function voRes3() {
        const form = document.getElementById('form_vo2');
        axios
          .post(`/axios/vo/res3`, { name: form.name.value, age: form.age.value })
          .then((res) => {
            console.log(res);
          });
      }
      function voRes4() {
        const form = document.getElementById('form_vo2');
        axios
          .post(`/axios/vo/res4`, { name: form.name.value, age: form.age.value })
          .then((res) => {
            console.log(res);
          });
      }
      function voRes5() {
        const form = document.getElementById('form_vo2');
        axios
          .post(`/axios/vo/res5`, { name: form.name.value, age: form.age.value })
          .then((res) => {
            console.log(res);
          });
      }
</script>
</body>
</html>